/* importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* layout */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* body style */
body {
	background-color: #6ec9fa;
}

/* style for start screen and container for the score class */
.start-screen, 
.score-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* button style */
button {
	border: none;
	outline: none;
	cursor: pointer;
}

/* style for the start button and restart */
#start-button, #restart {
	font-size: 1.3em;
	padding: 0.5em 1.8em;
	border-radius: 0.2em;
}
/* addition to the start style */
#restart {
	margin-top: 0.9em;
}

/* style for display container */
#display-container {
	background-color: #ffffff;
	padding: 3.1em 1.8em;
	width: 80%;
	max-width: 37.5em;
	margin: 0 auto;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 0.6em;
}

/* style for header class */
.header {
	margin-bottom: 1.8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.6em;
	border-bottom: 0.1em solid #c0bfd2;
}

/* style for timer container */
.timer-div {
	background-color: #e1f5fe;
	width: 7.5em;
	border-radius: 1.8em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7em 1.8em;
}

/* style for question */
.question {
	margin-bottom: 1.25em;
	font-weight: 600;
}

/* style for option containers */
.option-div {
	font-size: 0.9em;
	width: 100%;
	padding: 1em;
	margin: 0.3em 0;
	text-align: left;
	outline: none;
	background: transparent;
	border: 1px solid #c0bfd2;
	border-radius: 0.3em;
}

/* style for option containers when disabled */
.option-div:disabled {
	color: #000000;
	cursor: not-allowed;
}

/* style for next button */
#next-button {
	font-size: 1em;
	margin-top: 1.5em;
	background-color: #6ec9fa;
	color: #030000;
	padding: 0.7em 1.8em;
	border-radius: 0.3em;
	float: right;
}

/* style for hidden element */
.hide {
	display: none;
}

/* style for incorrect option */
.incorrect {
	background-color: #ffdde0;
	color: #d32f2f;
	border-color: #d32f2f;
}

/* style for correct option */
.correct {
	background-color: #e7f6d5;
	color: #689f38;
	border-color: #689f38;
}

/* style for user */
#user-score {
	font-size: 1.5em;
	color: #ffffff;
}